@page "{id:int?}"
@model MyScriptureJournal.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete Scripture Journal Entry";

    string book = Model.ScriptureJournal.Book;
    int chapter = Model.ScriptureJournal.Chapter;
    int verse = Model.ScriptureJournal.Verse;

    string scripture = $"{book} {chapter}:{verse}";
}

        <h1>DELETE @scripture</h1>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ScriptureJournal.Book)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ScriptureJournal.Book)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ScriptureJournal.Chapter)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ScriptureJournal.Chapter)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ScriptureJournal.Verse)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ScriptureJournal.Verse)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ScriptureJournal.DateAdded)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ScriptureJournal.DateAdded)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ScriptureJournal.Note)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ScriptureJournal.Note)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="ScriptureJournal.ID" />
                <button type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @scripture?')"><i class="fas fa-trash"></i> Delete</button> |
                <a asp-page="./Index"><i class="fas fa-backward"></i> Back to List</a>
            </form>
        </div>